:root{
  --mos:'Montserrat', sans-serif;
  --open:'Open Sans', sans-serif;
}

form {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 70vh;
}

#form-input-container{
  padding: 20px;
  align-self: center;
}

input::placeholder{
  font-family: var(--open);
  font-size: 12px;
}
  
#submit-button{
  background-color: #FF5A5F;
  font-family: var(--mos);
  color: #ffff;
}

.span-text{
  font-size: 10px;
  font-family: var(--open);
}

  